<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<beans profile="production">
		<import resource="classpath*:**/applicationContext-db.xml" /><!-- 
			在非惰性加载(lazy)情况下, 注意配置文件顺序 -->
		<import resource="classpath*:**/applicationContext-common.xml" />
	</beans>
</beans>